body {
    margin: 0;
    font-family: serif;

}

* {
    margin: 0;
    padding: 0;
}


/*Nav Bar*/

.navbar {
    width: 25vh;
}

.navbar-collapse {
    background: rgba(221, 221, 221, 0.5);
}

.nav-link {
    font-family: "Playfair Display";
    text-align: center;
    color: black!important;
}

.nav-link:hover {
    opacity: 0.7!important;
}



/* Landing Page*/


.main-heading {
    text-align: center;
    color: #557571;
    font-family: "Playfair Display";
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.main-heading:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 37%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid lightgray; /* This creates the border. Replace black with whatever color you want. */
}


.showcase {
    height: 100vh;
    width: 100%;
    background-image: url("images/mainPic1.jpg");
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(0px);
    -webkit-animation: fadein linear 1.5s;

}

@-webkit-keyframes fadein {
    0% {    -webkit-filter: blur(3x);}
    28% { -webkit-filter: blur(3px);}
    56% { -webkit-filter: blur(3px);}
    100% {  -webkit-filter: blur(0px);}
}


.sub-heading {
    color: black;
    text-align: center;
    color: #557571;
    font-family: "Playfair Display";
    margin: 0.5rem 0;
}


/* Wedding Schedule */

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.schedule-icon {
    margin-bottom: 2rem;
    opacity: 0.8;
}

/* .wedding-schedule h3 {
  margin-bottom: 1.5rem;
} */

.fas:hover,
.far:hover {
    transform: translateY(-3px);
}

/* Directions/Venue */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}
.map-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.heart-list li:not(:last-of-type) {
    margin-bottom: 2.5rem;

}

.heart-list li {
    margin-left: 2rem;
}

/* Our Story  */

.image {
    width: 100%;
    padding-bottom: 30px;
}

.image:hover {
    filter: brightness(60%);

}

figcaption {
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    font-family: 'Playfair Display';
    color: dimgrey;
    letter-spacing: 3px;
}


/* Explore The Area*/



/* RSVP */
.rsvp {
    /* height: 100vh; */
    background-color: #e8ded2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.53'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.button-div {
    text-align: center;
    transition: all;
}

.button-custom {
    font-family: serif;
    box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.45) ;

}

.button-custom:active {
    transform: translateY(2px);
    outline: none;
}

/* Footer */

footer {
    height: 50px;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.footer-section span {
    margin: 10px;
    font-family: "Playfair Display";
}



/* General Styles*/

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.center {
    text-align: center;
    margin: auto;
}

.backdrop-p {
    background-color: #e8ded2;
}

.backdrop-g {
    background-color: #94b4a4;
}



h3 {
    font-family: "Playfair Display";
    opacity: 0.8;
    padding-bottom: 0.7rem!important;
    padding-top: 1rem!important;
}

.section-title {
    margin-top: 2rem;
}


.heart-list li::marker {
    font-size: 0.7rem;
    content: "🖤"
}

.heart-list li {
    padding-left:15px;
}


/* Media Queries */

/* Small Screens */
@media (max-width: 1050px) {

    .grid-3 {
        grid-template-columns: 1fr;
    }


    .grid-2 {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .main-heading:after {
        width: 60%;
    }

    .map {
        margin-bottom: 3rem;
    }

    .heart-list li {
        padding: 0;
        margin-left:0;
    }

    .heart-list li::marker {
        content: "";
    }

    ul{
        margin-top: 2.5rem!important;
    }



}


@media (max-width: 560px) {


    .grid-3 {
        grid-template-columns: 1fr;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }

    .main-heading:after {
        width: 50%;
    }

    .wedding-schedule p {
        border-bottom: dashed 1px;
        padding: 1.2rem 1rem;
    }


    .venue-image {
        margin-bottom: 3rem;
        margin-right: 0;

    }

    .main-heading {
        font-size: 2.2rem;
        padding-top: 3.5rem;
    }

    .sub-heading {
        font-size: 1.2rem;
    }

}